<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashuser</title>
</head>
<body style="background-color: black;" >
    <link rel="stylesheet" href="estilos/dashuser.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- navbar -->
{% load static %} 
<div>
  <nav class="navbar sticky-top navbar-light navbar-expand-lg" style="text-align:center"> <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"> <span class="navbar-toggler-icon"></span> </button>
    <link rel="stylesheet" href={% static 'core/estilos/estilo.css'%}>
    <a href="{%url 'inicio'%}" title="Jardineria" class="logo"> 
      <img align="left" src="https://w7.pngwing.com/pngs/403/286/png-transparent-gardening-nursery-garden-design-arborist-gazon-leaf-logo-grass.png" height="4.5%" width="4.5%" style="border-radius: 100%;margin: 5px;"> </a>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="collapsibleNavbar">
    <div class="collapse navbar-collapse d-flex justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
          
            <li class="nav-item active"><a class="nav-link" href="{% url 'inicio' %}">Inicio</a></li>
            {% if user.is_staff %}
            
            <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Agregar</a>
            <div class="dropdown-menu">
                    {% if perms.core.view_producto %}
                    <a class="dropdown-item" href="{% url 'listar' %}">Lista de  Productos</a>
                    {% endif %}
                    <a class="dropdown-item" href="#"></a>
                    {% if perms.core.add_producto %}
                    <a class="dropdown-item" href="{% url 'agregar' %}">Agregar Productos</a>
                    {% endif %}
                    <div class="dropdown-divider"></div>
                    <div class="dropdown-divider"></div>
                    {% if perms.core.view_tipo %}
                    <a class="dropdown-item" href="{% url 'listar_tipo' %}">Lista de Categorias</a>
                    {% endif %}
                    {% if perms.core.add_tipo %}
                    <a class="dropdown-item" href="{% url 'agregar_tipo' %}">Agregar Categorias</a>
                    {% endif %}
                  </div>
                </li>
          {% endif %}
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Tienda</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'venta' %}">Productos</a>
                    <a class="dropdown-item" href="{% url 'seguimiento' %}">Seguimiento</a>
                    <a class="dropdown-item" href="#"></a>
                  <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"></a>
                  </div>
                  
                  <a href="https://le4ndr01.github.io/pgy_eva_1/index.html" title="Jardineria" class="logo" style="height: 110px;"> 
                    
            <li class="nav-item"><a class="nav-link" href="{%url 'contacto'%}">Contacto</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'nosotros'%}">Nosotros</a></li>
            <li class="nav-item dropdown">
              
              {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mi cuenta</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'dashuser' %}">@{{user.username}}</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Salir</a>
                    <div class="dropdown-divider"></div>
              {% else %}
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Iniciar Sesion</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'login' %}" > Iniciar Sesion </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'registro'%}" > Registro </a>
                  </div>
                  </div>  
              {% endif %}

        </ul>
      </div>
  </nav>
</div>
  <!-- navbar -->
  <link rel="stylesheet" type="text/css" href="{%static 'core/estilos/dashuser.css' %}">
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-3 my-lg-0 my-md-1">
                <div id="sidebar" class="bg-purple">
                    <div class="h4 text-white">Account</div>
                    <ul>
                        <li >
                            <a href="{% url 'dashuser'%}" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Mi cuenta</div>
                                    <div class="link-desc">Vista de ordenes recientes</div>
                                </div>
                            </a>
                        </li>
                        <li class="active">
                            <a href="{% url 'ordenes' %}" class="text-decoration-none d-flex align-items-start">
                                <div class="fas fa-box-open pt-2 me-3"></div>
                                <div class="d-flex flex-column">
                                    <div class="link">Mis Pedidos</div>
                                    <div class="link-desc">Vista de ordenes </div>
                                </div>
                            </a>
                        </li>
                       
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 my-lg-0 my-1">
                <div id="main-content" class="bg-white border">
                    <div class="d-flex flex-column">
                        <div class="h5">Hola {{user.first_name}}, Bienvenid@</div>
                        <div>Inicio Sesion con el email: {{user.email}}</div>
                        <div>Ultima conexion: {{user.last_login}}</div>
                    </div>

                    </div>
                    <div class="text-uppercase">Ordenes realizadas</div>
                    <div class="order my-3 bg-light">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="d-flex flex-column justify-content-between order-summary">
                                    <div class="d-flex align-items-center">
                                        <div class="text-uppercase">Order #fur10001</div>
                                        <div class="blue-label ms-auto text-uppercase">paid</div>
                                    </div>
                                    <div class="fs-8">Products #03</div>
                                    <div class="fs-8">22 August, 2020 | 12:05 PM</div>
                                    <div class="rating d-flex align-items-center pt-1">
                                        <img src="{% static 'core/imagenes/like.png'%}"
                                            alt=""><span class="px-2">Rating:</span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="far fa-star"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="d-sm-flex align-items-sm-start justify-content-sm-between">
                                    <div class="status">Status : Delivered</div>
                                    <div><a class="btn btn-primary text-uppercase" href="{% url 'seguimiento'%}">order info</a></div>
                                </div>
                                <div class="progressbar-track">
                                    <ul class="progressbar">
                                        <li id="step-1" class="text-muted green">
                                            <span class="fas fa-gift"></span>
                                        </li>
                                        <li id="step-2" class="text-muted green">
                                            <span class="fas fa-check"></span>
                                        </li>
                                        <li id="step-3" class="text-muted green">
                                            <span class="fas fa-box"></span>
                                        </li>
                                        <li id="step-4" class="text-muted green">
                                            <span class="fas fa-truck"></span>
                                        </li>
                                        <li id="step-5" class="text-muted green">
                                            <span class="fas fa-box-open"></span>
                                        </li>
                                    </ul>
                                    <div id="tracker"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="order my-3 bg-light">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="d-flex flex-column justify-content-between order-summary">
                                    <div class="d-flex align-items-center">
                                        <div class="text-uppercase">Order #fur10001</div>
                                        <div class="green-label ms-auto text-uppercase">cod</div>
                                    </div>
                                    <div class="fs-8">Products #03</div>
                                    <div class="fs-8">22 August, 2020 | 12:05 PM</div>
                                    <div class="rating d-flex align-items-center pt-1">
                                        <img src="https://www.freepnglogos.com/uploads/like-png/like-png-hand-thumb-sign-vector-graphic-pixabay-39.png"
                                            alt=""><span class="px-2">Rating:</span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="fas fa-star"></span>
                                        <span class="far fa-star"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="d-sm-flex align-items-sm-start justify-content-sm-between">
                                    <div class="status">Status : Delivered</div>
                                    <div><a class="btn btn-primary text-uppercase" href="{% url 'seguimiento'%}">order info</a> </div>
                                </div>
                                <div class="progressbar-track">
                                    <ul class="progressbar">
                                        <li id="step-1" class="text-muted green">
                                            <span class="fas fa-gift"></span>
                                        </li>
                                        <li id="step-2" class="text-muted">
                                            <span class="fas fa-check"></span>
                                        </li>
                                        <li id="step-3" class="text-muted">
                                            <span class="fas fa-box"></span>
                                        </li>
                                        <li id="step-4" class="text-muted">
                                            <span class="fas fa-truck"></span>
                                        </li>
                                        <li id="step-5" class="text-muted">
                                            <span class="fas fa-box-open"></span>
                                        </li>
                                    </ul>
                                    <div id="tracker"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
<!--   Footer -->
<div class="container-fluid mt-5">
    <link rel="stylesheet" href="{% static 'core/estilos/footer.css' %}">  
  <div class="card mx-5">
  <div class="row mb-4 ">
      
      <div class="col-md-4 col-sm-11 col-xs-11">
          <div class="footer-text pull-left">
               <div class="d-flex">
                   <h1 class="font-weight-bold mr-2 px-3" style="color:#16151a; background-color:#957bda" > J </h1>
                   <h1 style="color: #957bda">Ardineria</h1>
               </div>
               <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi non pariatur numquam animi nam at impedit odit nisi.</p>
               <div class="me-5 d-none d-lg-block">
                  <span style="text-align: left;">Tambien puedes contactarnos en Nuestras redes sociales</span>
                  <p>
                    <a href="https://es-es.facebook.com/">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="facebook" height="15" width="15"></a>
                    <a href="https://www.instagram.com/"><img src="https://w7.pngwing.com/pngs/16/46/png-transparent-made-in-kings-heath-instagram-facebook-female-graphy-instagram-logo-instagram-icon-text-trademark-magenta.png" alt="instagram" height="15px" width="15px" style="border-radius: 100%;"></a>
                    <a href="https://twitter.com/"><img src="https://w7.pngwing.com/pngs/529/867/png-transparent-computer-icons-logo-twitter-miscellaneous-blue-logo-thumbnail.png" alt="twitter" height="15" width="15" style="border-radius: 100%;"></a>
                  </p>
                </div>
           </div>
      </div>
      
      
      <div class="col-md-2 col-sm-1 col-xs-1 mb-2"></div>
      
      <div class="col-md-2 col-sm-4 col-xs-4">
   
          <h5 class="heading">Productos</h5>
          <ul >
              <li><a href="{% url 'venta' %}">Nuestros productos</a></li>
              <li><a href="{% url 'seguimiento' %}">Seguimiento en linea</a></li>
              <li><a href="">Donaciones</a></li>
              <li></li>
          </ul>
   
      </div>
   
   
      <div class="col-md-2 col-sm-4 col-xs-4">
   
          <h5 class="heading">Nosotros</h5>
          <ul class="card-text">
              <li><a href="{% url 'inicio' %}">Inicio</a></li>
              <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
              <li><a href="{% url 'contacto' %}">Contacto</a></li>
              
          </ul>
   
      </div>
  
      <div class="col-md-2 col-sm-4 col-xs-4">
   
          <h5 class="heading">Contacto</h5>
          <p><i><img src="{% static 'core/iconos/geo-alt-fill.svg' %}" alt=""></i> Concha y Toro 1022,Puente Alto,Chile</p>
          <p>
              <i><img src="{% static 'core/iconos/envelope-fill.svg' %}" alt=""></i>
              info@example.com
            </p>
            <p><i><img src="{% static 'core/iconos/phone-fill.svg' %}" alt="telefono"></i> + 56 52 623 623</p>
            <p><i><img src="{% static 'core/iconos/telephone-fill.svg' %}" alt=""></i> + 56 22 536 523</p>    
   
      </div>
  </div>
  
  
  <div class="divider mb-4" >   
  </div>
  
  
  <div class="row" style="font-size:10px;">
  
  <div class="col-md-6 col-sm-6 col-xs-6">
      
      <div class="pull-left">
          
          <p><i class="fa fa-copyright"></i> © 2022 <a href="index.html">Jardineria.com</a></p>
          
      </div>
      
  </div>
  
  
  
  
   
   
   
  </div>
  </div>
  
  </div>
</html>