/* your CSS goes here*/
body {
  height: 120px;
  background-color: #000000;
}

nav {
  background: #0f6f6f;
  
}

.nav-link {
  font-size: 1.2em;
  color: #020202 !important;
  font-weight: 500;
  text-align: center;
}

.active .nav-link {
  border-bottom: 1px solid #00ffc8;
  color: #000000 !important
}
  